name: Deployment

on: push                    
jobs:
#job1
  repo-ubuntu:
    runs-on: ubuntu-latest
    steps:    
      - name: Clone project-repo
        id: clone-repo
        uses: GuillaumeFalourd/clone-github-repo-action@v2
        with:
          owner: 'anapitalai'
          repository: 'raliku-holdings'
  #job2          
  clone-whole-project:
    runs-on: self-hosted
    steps:    
      - name: clone-all
        id: clone-all
        uses: GuillaumeFalourd/clone-github-repo-action@v2
        with:
          owner: 'anapitalai'
          repository: 'raliku-holdings'
      - name: access-files
        run: |
          cp -r raliku-holdings/ /root/git-clones/

      - name: avaiable-repo
        if: failure() || success()
        run: |
          rm raliku-holdings -R    
  
  #job3
  job3:
    needs: repo-ubuntu
    runs-on: ubuntu-latest    
    steps: 
    - name: collect-code-runner
      id: collect-runner
      uses: actions/checkout@v3
    - name: Install nodejs 18
      uses: actions/setup-node@v3
      with:                             
        node-version: 18
    - name: Install dependencies
      id: deps
      run: |
         npm run build
         cd frontend
         
    - name: Upload artifacts
      if: steps.deps.outcome == 'success'
      uses: actions/upload-artifact@v3
      with:
        name: frontend-build
        path: |
          frontend/build

  download-vps:
    needs: job3
    runs-on: self-hosted    
    steps: 
    - name: download-artifacts
      uses: actions/download-artifact@v3
      with:
       name: frontend-build   
    - name: output artifacts contents
      run: |
        # mkdir /root/git-clones/raliku-holdings/frontend/build
        cp -r /actions-runner/_work/raliku-holdings/raliku-holdings/* /root/git-clones/raliku-holdings/frontend/build
 